* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* НЕ ДОСТУПНО!
:focus, :active {outline: none}
a:focus, a:active {outline: none;} */

nav, header, footer, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;   
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

body {

    background: url("../img/lines.svg") 50% 130px no-repeat, #e8e8e8;

    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 36px; */
      
}
.content {
    max-width: 845px;
    margin: 0 auto;
    padding: 160px 0 135px 0; 
}

.content-top {
    text-align: center;
    margin: 0 0 65px 0;
}

.content-top-categoty {

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
    color: #273d46;
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-size: 36px;
    line-height: 50px;
    color: #273d46;
    width: 724px;
    margin: 0 auto;
    
}

.content-image {
    background-color: #ffffff;
    padding: 10px;
    box-shadow:  0 15px 65px rgba(15, 16, 16, 0.15); 
    margin-bottom: 90px;
    margin: 0 0 85px 0;

}
    

img {
    width: 100%;
}


.content-bottom {
    padding: 0  48px;
}

.content-bottom-text {
    font-size: 24px;
    line-height: 40px;
    color: #273d46;
    opacity: 0.8;
    margin: 0 0 52px 0;
}

.content-bottom-text p {
    margin: 0 0 50px 0;
}

.content-bottom-text p:last-child {
    margin: 0;
}

.content-bottom-list {
    margin: 0 0 60px 0;
}

.content-bottom-list li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    background: url("../img/check-icon.png") left no-repeat;
    padding: 0 0 0 35px;
    margin: 0 0 14px 0;
}

.content-bottom-list li:last-child {
    margin: 0;
}

.content-bottom-list li:nth-child(1) {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	color: #273d46;
}

.content-bottom-list li:nth-child(2) {
    color: #80b7b3;
    font-style: italic;
}
.content-bottom-list li:nth-child(3) {
    color: #273d46;
    font-weight: 700;
}
.content-bottom-list li:nth-child(4) {
    color: rgba(39, 61, 70, 0.3); /*1111*/
    text-decoration: line-through;
}

.content-bottom-button {
    display: inline-block;
    height: 44px;

    padding: 0px 30px;
    border-radius: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 14px;
    line-height: 44px;
    background: rgba(128, 183, 179, 1);
    box-shadow:  0 5px 1px rgba(0, 0, 0, 0.5);
    
}

.content-bottom-button span {
    padding: 0 30px 0 0;
    background: url("../img/arrow.svg") right no-repeat;
}



.content-bottom-button:hover {
    background: #522124;
    
}

.content-bottom-button:active {
    position: relative;
    top: 3px;
    box-shadow:  0 2px 1px rgba(0, 0, 0, 0.5);
}